html, body 
{
  height: 100%;
  margin: 0;
}
.wrapper 
{
  height: 100%;
}
.content 
{
  flex: 1;
  overflow: auto;
  min-height:86%
}
.header
{
	min-height:8%;
	padding-top: 15px;
	font-variant-caps: petite-caps;
  	  	font-family: initial;
}
.footer
{
	min-height:6%;
	background-color: lavender;
  		color: black;
}
.header-item:hover
{
	cursor: pointer;
}
.logout-label
{
	font-size: x-small;
}
.glyphicon
{
	 color:white;
}
.header
{
	background: dimgrey;
	color:white;
}
.logout-label
{
	color:white;
}

.sidebar
{
	border-right: gray 1px solid;
	padding-right: 0px;
  		padding-left: 0px;
  		background-color: slategrey;
  		font-variant-caps: petite-caps;
  	  	font-family: initial;
}
.menu-item
{
    padding: 10px;
    color: white;
    border-bottom: 1px solid darkgray;
}
.menu-item:hover
{
	cursor: pointer;
}