<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	https://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://mybatis.org/schema/mybatis-spring
	http://mybatis.org/schema/mybatis-spring.xsd">
	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		 <property name="driverClassName" value="${driver}"/>
		 <property name="url" value="${url}"/>
		 <property name="username" value="${db.username}"/>
		 <property name="password" value="${password}"/>
		 <property name="initialSize" value="${initialSize}" />
		 <property name="maxActive" value="${maxActive}" />
	</bean>
	
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
	  <property name="dataSource" ref="dataSource" />
	  <property name="mapperLocations" value="classpath*:com/gmail/nlpraveennl/mybatis/mappers/*.xml" />
	</bean>
	
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
	  <constructor-arg index="0" ref="sqlSessionFactory" />
	</bean>
	
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations" value="classpath:databaseconnection.properties" />
	</bean>
	
	<context:component-scan base-package="com.gmail.nlpraveennl" />
		
</beans>
